.donate-message{
    height:200px;
}

h2.donate-h2{
    margin-left:14%;
    margin-right:14%;
    text-align: center;
    margin-bottom:50px;
}

input.wpedon_paypalbuttonimage{
    margin-left:25% !important;
    width:50%;
}